.dropdown {
    display: inline-block;
}

.dropdown button{
    font-size: 2em;
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: brown;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}


.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: green;
}

.dropdown a:hover{
    background-color: rgb(182, 193, 182);
}