body {
    background-image: url('Снимок экрана 2026-01-13 в 00.54.19 (1).png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}