body{
    display: flow-root;
    background-color: #1d9056;
}

h1{
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#google_href1{
    color: #ffffff;
}

#media_sololevel{
    border-radius: 10px;
}

#text_id{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

#name_ch{
    border-style: solid;
    border-width: 5px;
    border-color: blanchedalmond;
    border-radius: 10px;
}

#text_id2 {
    border-bottom: 3px solid red;
    border-top: 3px solid green;
    border-left: 3px solid blue;
    border-right: 3px solid yellow;
    border-radius: 10px;
}

#shadow {
    text-shadow: 2px 2px 5px blue, -2px -2px 5px black;
}

#box1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    box-shadow: 3px 3px 5px;
}

.box {
    border: 5px solid;
    font-size: 2em;
    width: 100px;
    height: 100px;
    margin: auto;
}

#new_box1 {
    background-color: red;
}

#new_box2 {
    background-color: rgb(152, 152, 255);
}

#new_main_div {
    border: 5px solid;
    background-color: rgb(152, 152, 255);
    width: 100px;
    height: 100px;
}

#im_1 {
    float: left;
    margin-right: 10px;
}

#im_2 {
    float: right;
    margin-right: 10px;
}


#main_div2 {
    border: 2px solid;
    height: 75px;
    overflow: auto;
}

#new_div3 {
    font-size: 45px;
    width: 100px;
    height: 35px;
   background-color: red;
}

#new_span3 {
    font-size: 45px;
    background-color: blue;
    width: 100px;
    height: 35px;   
    display: block;
}

* {
    box-sizing: border-box;
}

.other_main_new_box {
    background-color: grey;
    height: 100vh;
}

.main_new_box{
    background-color: aqua;
    border: 2px solid;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

    min-width: 50%;
}

#new_div4 {
    width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    /* position:absolute; */
    /* top: 100px;
    left: 100px; */
    /* position: fixed;
    left: 0;
    bottom: 0px; */
}


#div_conteiner {
    border: 2px solid;
}

#div_conteiner + p{
    background-color: rgb(152, 152, 255);
}

#other_btn:hover{
    font-size: 1.1em;
    background-color: rgb(152, 152, 255);
}

a:link{
    color: rgb(180, 180, 180);
}

a:hover{
    font-size: 1.5em;
    color: white;
}

a:active{
    font-size: 2em;
    color: black;
}

a:visited{
    color: rgb(180, 180, 180);
}

#other_btn:active{
    font-size: 1.1em;
    background-color: rgb(255, 55, 19);
}

/* #list li:hover{
    background-color: rgb(4, 255, 0);
} */

/* #list li:not(hover){
    background-color: rgb(100, 100, 100);
} */

#list li:nth-child(2){
    background-color: rgb(152, 152, 255);
}

#greeting p{
    background-color: rgb(84, 84, 245);
    padding: 10px;
    display: none;
}

#greeting:hover p{
    display: block;
}

#new_hello::first-letter{
    font-size: 2em;
    font-style: italic;
    background-color: rgb(152, 152, 255);
}

#new_lorem::first-line{
    font-size: 2em;
    font-style: italic;
    background-color: rgb(157, 255, 10);
}

#new_lorem::selection{
    color: rgb(200, 255, 0);
    background-color: black;
}

#fruit li::before{
    /* content: '😩'; */
}

#apple::after{
    content: '🤪';
}

#orange::after{
    content: '😎';
}

#banana::after{
    content: '🧐';
}

#fruit li::marker{
    content: '✔️';
    color: blanchedalmond;
}

.paginator {
    text-align: center;
}

.paginator a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.paginator a.active{
    background-color: rgb(208, 0, 255);   
    font-weight: bold;
    border-radius: 5px;
}

.paginator a:hover:not(.active){
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
}
